.feedback-header{
    font-weight: bold;
    font-size: 24px;
    color: #1abc9c;
    margin-top: 20px;
}

.request-text{
    margin-top: 20px;
}

.red-star{
    color: red;
}

.input-name{
    height: 30px;
    width: 341px;
    font-size: 17px;
    margin-bottom: 10px;
}

label{
    color: #1abc9c;
    font-weight: bold;
}

.input-name:focus{
    outline: #1abc9c;
    border: 2px solid #1abc9c;
}

.w-40{
    width: 30%;
    margin-left: 30px;
}

.w-60{
    width: 70%;
}

.center-form{
    display: flex;
    justify-content: center
}

.text-form{
    text-align: left;
}

.content-size{
    font-size: 17px;
}

.submit{
    border: 2px solid #1abc9c;
    background-color: white;
    border-radius: 4px;
    font-size: 17px;
    width: 80px;
    color: #1abc9c;
}

.submit:hover{
    color: white;
    background-color: #1abc9c;
    
}

.button-center{
    display: flex;
    justify-content: space-between;
}

.again{
    margin-left: 20px;
    color: red;
    background-color: white;
    border: 2px solid red;
    border-radius: 4px;
    width: 100px;
    font-size: 17px;
}

.again:hover{
    color: white;
    border: 2px solid red;
    background-color: red;
}