.comment-count {
    font-weight: 600;
    font-size: 14px;
}
.comment-area-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #ccc solid;
    padding-bottom: 10px;
}
.comment-area-write {
    margin-top: 10px;
    display: flex;
}
.avatar img {
    width: 40px;
    height: 40px;
}

.comment-area-write .avatar {
    width: 7%;
    display: inline-block;
}
.write-cmt-box {
    width: 85%;
    display: inline-block;
    height: 35px;
}
.write-cmt-box input{
    width: 95%;
    height: 100%;
    font-size: 17px;
}
.comment-area-write button {
    height: 41px;
    width: 60px;
}

.comment-old {
    margin-top: 20px;
}

.nick-name {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 5px;
}

.nick-name:hover {
    text-decoration: underline;
}
.cmt {
    display: flex;
}

.cmt-box {
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.358;
    word-break: break-word;
}
.time {
    display: flex;
    justify-content: start;
    margin-left: 5px;
}

.like {
    color: #4267b2;
    font-size: 12px;
    cursor: pointer;
}
.time-content {
    color: #90949c;
    font-size: 12px;
}
.rep {
    display: flex;
    margin-top: 10px;
}

.rep .cmt {
    border-left: 1px solid #ccc;
    padding-left: 5px;
}