.contact-content {
    text-align: center;
    width: 60%;
    margin: auto;
    border: 1px solid #ccc;
}

.contact-info {
    text-align: start;
    padding: 15px;
    padding-top: 0;
}
.contact-info-content{
    display: flex;
    align-items: center;
    padding: 5px;
    height: 30px;
}