 .next-page{
    margin: 6px;
    margin-top: 53px;
    font-size: 20px;
}

.shows-background {
    /* height: 1800px !important; */
}

.news-img{
    margin: 20px;
    margin-top: 40px;
}

.text-posts{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

.text-posts:hover{
    text-decoration: underline;
    color: #3498db;
    transition: all 0.3s ease;
}

.number-page{
    border: 2px solid #1abc9c;;
    border-radius: 400px;
    width: 2.4%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 6px;
    margin-top: 50px;
    background-color: #1abc9c;;
}

.post {
    margin-top: 30px;
    padding: 10px;
}

.calendar{
    color: red;
    font-size: 16px;
    margin-top: 10px;
}